Car Price Prediction Project
----

The goal of this project is to build a regression model that predicts car prices based on various vehicle features in the dataset. The dataset (`autos.csv`) contains information about car listings, including details like brand, year of registration, power, fuel type, and more. The target variable we want to predict is the `price` column.

In [64]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

Load and Inspect the Dataset
----

The first step is to load the dataset and understand its structure. We start by examining the number of rows and columns, as well as the column names. Displaying a few rows of the dataset helps us understand the data types and the kind of information available. At this stage, we also identify which columns might be useful for predicting car prices and which columns are irrelevant.

In [65]:
cars = pd.read_csv(r"C:\Users\Emigb\Documents\Data Science\datasets\autos.csv", encoding='latin1')
cars.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,3/26/2016 17:47,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,3/26/2016 0:00,0,79588,4/6/2016 6:45
1,4/4/2016 13:38,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,4/4/2016 0:00,0,71034,4/6/2016 14:45
2,3/26/2016 18:57,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,3/26/2016 0:00,0,35394,4/6/2016 20:15
3,3/12/2016 16:58,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,3/12/2016 0:00,0,33729,3/15/2016 3:16
4,4/1/2016 14:38,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,4/1/2016 0:00,0,39218,4/1/2016 14:38

Data Cleaning
----

Data cleaning focuses on fixing issues in the dataset to ensure accuracy and consistency. This step involves removing duplicate rows that may distort analysis and handling missing values by either filling them with appropriate replacements or removing them entirely. It also includes correcting data types, such as converting the price column from strings like $5,000 to numeric values like 5000.

Unrealistic values are filtered out, such as entries where the yearOfRegistration exceeds a logical range (e.g., greater than 2025 or less than 1900). Additionally, special characters in numeric columns like km in odometer or $ in price are removed to make the data usable for calculations.

The main goal of this step is to prepare a clean, consistent dataset that can be used for reliable modeling.

In [66]:
#Checking For Missing Values
cars.isna().sum()

dateCrawled               0
name                      0
seller                    0
offerType                 0
price                     0
abtest                    0
vehicleType            5095
yearOfRegistration        0
gearbox                2680
powerPS                   0
model                  2758
odometer                  0
monthOfRegistration       0
fuelType               4482
brand                     0
notRepairedDamage      9829
dateCreated               0
nrOfPictures              0
postalCode                0
lastSeen                  0
dtype: int64

In [67]:
# 1.Handle 'model' - Replace with 'andere'
cars['model'] = cars['model'].fillna('andere')

# 2. Handle 'gearbox' - Based on year
cars.loc[(cars['gearbox'].isnull()) & (cars['yearOfRegistration'] < 2000), 'gearbox'] = 'manuell'
cars.loc[(cars['gearbox'].isnull()) & (cars['yearOfRegistration'] >= 2000), 'gearbox'] = 'automatik'

# 3.Handle 'vehicleType' - Replace with 'andere'
cars['vehicleType'] = cars['vehicleType'].fillna('andere')

# 4. Handle 'notRepairedDamage' - Create unknown category
cars['notRepairedDamage'] = cars['notRepairedDamage'].fillna('nicht_angegeben')

# 5. Handle 'fuelType' - Based on brand and year
# Get most common fuel type for each brand
brand_fuel = cars.groupby('brand')['fuelType'].agg(lambda x: x.mode().iloc[0] if len(x.mode()) > 0 else 'benzin')

#Fill missing fuel types based on brand
for brand in cars['brand'].unique():
    mask = (cars['brand'] == brand) & (cars['fuelType'].isnull())
    if mask.sum() > 0:
        cars.loc[mask, 'fuelType'] = brand_fuel[brand]

# Fill any remaining with 'benzin' (most common)
cars['fuelType'] = cars['fuelType'].fillna('benzin')

#Checking For Missing Values
cars.isna().sum()

dateCrawled            0
name                   0
seller                 0
offerType              0
price                  0
abtest                 0
vehicleType            0
yearOfRegistration     0
gearbox                0
powerPS                0
model                  0
odometer               0
monthOfRegistration    0
fuelType               0
brand                  0
notRepairedDamage      0
dateCreated            0
nrOfPictures           0
postalCode             0
lastSeen               0
dtype: int64

In [68]:
cars.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,3/26/2016 17:47,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,3/26/2016 0:00,0,79588,4/6/2016 6:45
1,4/4/2016 13:38,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,4/4/2016 0:00,0,71034,4/6/2016 14:45
2,3/26/2016 18:57,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,3/26/2016 0:00,0,35394,4/6/2016 20:15
3,3/12/2016 16:58,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,3/12/2016 0:00,0,33729,3/15/2016 3:16
4,4/1/2016 14:38,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,4/1/2016 0:00,0,39218,4/1/2016 14:38

### Data Wrangling

The `price` and `odometer` columns contain symbols like `$` and `km`; these need to be stripped, and the columns are converted to numeric values.

In [69]:
# Remove '$' from 'price' and convert to numeric

# Convert to string first
cars['price'] = cars['price'].astype(str)

cars['price'] = cars['price'].str.replace('$','',regex=False)
cars['price'] = cars['price'].str.replace(',', '', regex=False)
cars['price'] = pd.to_numeric(cars['price'], errors='coerce')

# Remove 'km' from 'odometer', remove commas, and convert to numeric

# Convert to string first
cars['odometer'] = cars['odometer'].astype(str)

cars['odometer'] = cars['odometer'].str.replace('km', '', regex=False)
cars['odometer'] = cars['odometer'].str.replace(',', '', regex=False)
cars['odometer'] = pd.to_numeric(cars['odometer'], errors='coerce')

cars.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,3/26/2016 17:47,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,5000,control,bus,2004,manuell,158,andere,150000,3,lpg,peugeot,nein,3/26/2016 0:00,0,79588,4/6/2016 6:45
1,4/4/2016 13:38,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,8500,control,limousine,1997,automatik,286,7er,150000,6,benzin,bmw,nein,4/4/2016 0:00,0,71034,4/6/2016 14:45
2,3/26/2016 18:57,Volkswagen_Golf_1.6_United,privat,Angebot,8990,test,limousine,2009,manuell,102,golf,70000,7,benzin,volkswagen,nein,3/26/2016 0:00,0,35394,4/6/2016 20:15
3,3/12/2016 16:58,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,4350,control,kleinwagen,2007,automatik,71,fortwo,70000,6,benzin,smart,nein,3/12/2016 0:00,0,33729,3/15/2016 3:16
4,4/1/2016 14:38,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,1350,test,kombi,2003,manuell,0,focus,150000,7,benzin,ford,nein,4/1/2016 0:00,0,39218,4/1/2016 14:38

Feature Selection
----
Not all columns in the dataset are useful for prediction. We select only those features that are most likely to influence car prices. These include `vehicleType`, `yearOfRegistration`, `gearbox`, `powerPS`, `odometer`, `fuelType`, `brand`, and `notRepairedDamage`. These features give a clear picture of the car's condition, age, and market value.

In [70]:
cars.drop(columns = ['dateCrawled', 'lastSeen','postalCode','dateCreated', 'nrOfPictures', 'name'], inplace=True)
cars.head()

,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,privat,Angebot,5000,control,bus,2004,manuell,158,andere,150000,3,lpg,peugeot,nein
1,privat,Angebot,8500,control,limousine,1997,automatik,286,7er,150000,6,benzin,bmw,nein
2,privat,Angebot,8990,test,limousine,2009,manuell,102,golf,70000,7,benzin,volkswagen,nein
3,privat,Angebot,4350,control,kleinwagen,2007,automatik,71,fortwo,70000,6,benzin,smart,nein
4,privat,Angebot,1350,test,kombi,2003,manuell,0,focus,150000,7,benzin,ford,nein